In [1]:
import os
import glob
import pandas as pd
import numpy as np

### Select corresponding folder for each speed

In [2]:
def speed_to_folder(speed):
    if speed == 0.05232:
        return "3p6" # 1/0.4735 = 2.1193
    elif speed == 0.06528:
        return "4p4"
    elif speed == 0.06852:
        return "4p6"
    elif speed == 0.07824:
        return "5p2"
    elif speed == 0.09768:
        return "6p4"
    elif speed == 0.10092:
        return "6p6"
    elif speed == 0.11064:
        return "7p2"
    elif speed == 0.12036:
        return "7p8"
    elif speed == 0.13008:
        return "8p4"
    elif speed == 0.16248:
        return "10p4"
    elif speed == 0.17868:
        return "11p4"
    else:
        return "test"

In [3]:
folder = speed_to_folder(0.05232)
path = os.getcwd()
csv_files = glob.glob(os.path.join(f"/mnt/d/sources/data/DL-PTV/{folder}-1", "*.csv"))+glob.glob(os.path.join(f"/mnt/d/sources/data/DL-PTV/{folder}-2", "*.csv"))

In [111]:
data = []
csv_files.sort()
for idx, csv in enumerate(csv_files):
    frame = pd.read_csv(csv, sep=";")
    frame = frame.head(48)
    frame['time'] = idx+1
    data.append(frame)

In [119]:
df = pd.concat(data, ignore_index=True)

In [120]:
df = df.iloc[:,[6,0,1,2,3,4,5]]

In [121]:
df.columns=["time", "x","y","z","vx","vy","vz"]

In [124]:
df[df['time']==1]

    time           x          y          z        vx        vy        vz
0      1 -125.078910  86.888915 -33.059413  0.049976  0.002444  0.009331
1      1 -121.116733  86.888915 -33.059413  0.049832  0.002287  0.009501
2      1 -117.154557  86.888915 -33.059413  0.049630  0.002129  0.009603
3      1 -113.192381  86.888915 -33.059413  0.049365  0.001991  0.009568
4      1 -109.230205  86.888915 -33.059413  0.049041  0.001901  0.009327
5      1 -105.268029  86.888915 -33.059413  0.048675  0.001882  0.008832
6      1 -101.305853  86.888915 -33.059413  0.048289  0.001948  0.008066
7      1  -97.343677  86.888915 -33.059413  0.047911  0.002077  0.007069
8      1  -93.381501  86.888915 -33.059413  0.047563  0.002243  0.005918
9      1  -89.419325  86.888915 -33.059413  0.047264  0.002419  0.004719
10     1  -85.457149  86.888915 -33.059413  0.047032  0.002589  0.003584
11     1  -81.494973  86.888915 -33.059413  0.046881  0.002736  0.002639
12     1  -77.532797  86.888915 -33.059413  0.046807  0.002830  0.002023
13     1  -73.570620  86.888915 -33.059413  0.046771  0.002848  0.001813
14     1  -69.608444  86.888915 -33.059413  0.046714  0.002795  0.001971
15     1  -65.646268  86.888915 -33.059413  0.046599  0.002717  0.002334
16     1  -61.684092  86.888915 -33.059413  0.046437  0.002664  0.002703
17     1  -57.721916  86.888915 -33.059413  0.046266  0.002658  0.002928
18     1  -53.759740  86.888915 -33.059413  0.046116  0.002692  0.002923
19     1  -49.797564  86.888915 -33.059413  0.046004  0.002760  0.002658
20     1  -45.835388  86.888915 -33.059413  0.045953  0.002856  0.002127
21     1  -41.873212  86.888915 -33.059413  0.045990  0.002978  0.001377
22     1  -37.911036  86.888915 -33.059413  0.046142  0.003112  0.000497
23     1  -33.948860  86.888915 -33.059413  0.046411  0.003223 -0.000399
24     1  -29.986683  86.888915 -33.059413  0.046772  0.003272 -0.001212
25     1  -26.024507  86.888915 -33.059413  0.047182  0.003231 -0.001889
26     1  -22.062331  86.888915 -33.059413  0.047589  0.003118 -0.002419
27     1  -18.100155  86.888915 -33.059413  0.047956  0.002993 -0.002812
28     1  -14.137979  86.888915 -33.059413  0.048270  0.002937 -0.003085
29     1  -10.175803  86.888915 -33.059413  0.048549  0.003007 -0.003226
30     1   -6.213627  86.888915 -33.059413  0.048823  0.003186 -0.003170
31     1   -2.251451  86.888915 -33.059413  0.049099  0.003369 -0.002807
32     1    1.710725  86.888915 -33.059413  0.049331  0.003407 -0.002033
33     1    5.672901  86.888915 -33.059413  0.049437  0.003231 -0.000880
34     1    9.635077  86.888915 -33.059413  0.049359  0.002919  0.000469
35     1   13.597253  86.888915 -33.059413  0.049106  0.002636  0.001785
36     1   17.559430  86.888915 -33.059413  0.048744  0.002538  0.002914
37     1   21.521606  86.888915 -33.059413  0.048361  0.002674  0.003840
38     1   25.483782  86.888915 -33.059413  0.048011  0.002987  0.004590
39     1   29.445958  86.888915 -33.059413  0.047708  0.003340  0.005184
40     1   33.408134  86.888915 -33.059413  0.047433  0.003612  0.005632
41     1   37.370310  86.888915 -33.059413  0.047176  0.003769  0.005994
42     1   41.332486  86.888915 -33.059413  0.046952  0.003827  0.006386
43     1   45.294662  86.888915 -33.059413  0.046776  0.003814  0.006910
44     1   49.256838  86.888915 -33.059413  0.046655  0.003732  0.007622
45     1   53.219014  86.888915 -33.059413  0.046578  0.003575  0.008473
46     1   57.181190  86.888915 -33.059413  0.046529  0.003350  0.009327
47     1   61.143366  86.888915 -33.059413  0.046498  0.003095  0.009938

In [126]:
df_t = df.copy()

In [131]:
for idx, row in df_t.iterrows():
    # print((idx+1) % 3)
    if (df_t['time'].iloc[idx] % 3) == 0:
        df_t['vx'].iloc[idx] = np.nan
        df_t['vy'].iloc[idx] = np.nan
        df_t['vz'].iloc[idx] = np.nan

/tmp/ipykernel_342623/4181585366.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['vx'].iloc[idx] = np.nan
/tmp/ipykernel_342623/4181585366.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['vy'].iloc[idx] = np.nan
/tmp/ipykernel_342623/4181585366.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t['vz'].iloc[idx] = np.nan

In [132]:
df_t

       time           x          y          z        vx        vy        vz
0         1 -125.078910  86.888915 -33.059413  0.049976  0.002444  0.009331
1         1 -121.116733  86.888915 -33.059413  0.049832  0.002287  0.009501
2         1 -117.154557  86.888915 -33.059413  0.049630  0.002129  0.009603
3         1 -113.192381  86.888915 -33.059413  0.049365  0.001991  0.009568
4         1 -109.230205  86.888915 -33.059413  0.049041  0.001901  0.009327
...     ...         ...        ...        ...       ...       ...       ...
57595  1200   45.294662  86.888915 -33.059413       NaN       NaN       NaN
57596  1200   49.256838  86.888915 -33.059413       NaN       NaN       NaN
57597  1200   53.219014  86.888915 -33.059413       NaN       NaN       NaN
57598  1200   57.181190  86.888915 -33.059413       NaN       NaN       NaN
57599  1200   61.143366  86.888915 -33.059413       NaN       NaN       NaN

[57600 rows x 7 columns]

In [133]:
df.to_csv(f"/mnt/d/sources/data/DL-PTV/merged/original_data.csv", index=False);
df_t.to_csv(f"/mnt/d/sources/data/DL-PTV/merged/missing.csv", index=False);

In [107]:
df_t

              x          y          z  time        vx        vy        vz
0    -125.07891  86.888915 -33.059413     1  0.049976  0.002444  0.009331
1    -125.07891  86.888915 -33.059413     2  0.048241  0.001924  0.006840
2    -125.07891  86.888915 -33.059413     3       NaN       NaN       NaN
3    -125.07891  86.888915 -33.059413     4  0.045706  0.003309 -0.002533
4    -125.07891  86.888915 -33.059413     5  0.046131  0.003496 -0.003103
...         ...        ...        ...   ...       ...       ...       ...
1195 -125.07891  86.888915 -33.059413  1196  0.047288  0.000353  0.008464
1196 -125.07891  86.888915 -33.059413  1197       NaN       NaN       NaN
1197 -125.07891  86.888915 -33.059413  1198  0.047505  0.001516  0.005546
1198 -125.07891  86.888915 -33.059413  1199  0.046954  0.002016  0.004891
1199 -125.07891  86.888915 -33.059413  1200       NaN       NaN       NaN

[1200 rows x 7 columns]

In [6]:
df.sort_values(by=['time','loc_point'], inplace=True)

In [9]:
df.reset_index(inplace=True, drop=True)

In [10]:
df.head()

         vx        vy        vz  time  loc_point
0  0.049976  0.002444  0.009331     1          1
1  0.049832  0.002287  0.009501     1          2
2  0.049630  0.002129  0.009603     1          3
3  0.049365  0.001991  0.009568     1          4
4  0.049041  0.001901  0.009327     1          5

In [11]:
df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/3p6_loc.pkl", compression='zip')

In [20]:
df.to_csv(f"/mnt/d/sources/data/DL-PTV/merged/{speed_to_folder(speed)}.csv");

In [29]:
sppeds=[0.06528,0.06852,0.07824,0.09768,0.10092,0.11064,0.12036,0.13008,0.16248,0.17868]
for speed in sppeds:
    df = get_files_list(speed)
    df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/{speed_to_folder(speed)}.pkl", compression='zip')

In [22]:
df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/{speed_to_folder(speed)}.pkl", compression='zip')

In [23]:
new_df = pd.read_pickle(f"/mnt/d/sources/data/DL-PTV/merged/{speed_to_folder(speed)}.pkl", compression='zip')

In [93]:
test_data = df.iloc[100:300,:]
test_data.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/test1.pkl", compression='zip')

In [94]:
test_data = df.iloc[3000:3300,:]
test_data.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/test2.pkl", compression='zip')

In [95]:
test_data = df.iloc[8000:8300,:]
test_data.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/test3.pkl", compression='zip')

In [48]:
new_df.shape[1]

7

In [45]:
test_data.values.reshape(-1,7)

array([[-6.16840920e+01, -5.97116000e+01, -2.90972370e+01,
         1.71515000e-01, -2.89943200e-04, -2.36501100e-04,
         5.70000000e+01],
       [-5.77219160e+01, -5.97116000e+01, -2.90972370e+01,
         1.70899000e-01, -2.61071200e-06, -3.24674000e-04,
         5.70000000e+01],
       [-5.37597400e+01, -5.97116000e+01, -2.90972370e+01,
         1.69658000e-01, -1.03361800e-04, -7.82681100e-04,
         5.70000000e+01],
       [-4.97975640e+01, -5.97116000e+01, -2.90972370e+01,
         1.67861000e-01, -5.83022500e-04, -1.06800000e-03,
         5.70000000e+01],
       [-4.58353880e+01, -5.97116000e+01, -2.90972370e+01,
         1.65986000e-01, -1.41900000e-03, -4.49711600e-04,
         5.70000000e+01],
       [-4.18732120e+01, -5.97116000e+01, -2.90972370e+01,
         1.64646000e-01, -2.67700000e-03,  1.20100000e-03,
         5.70000000e+01],
       [-3.79110360e+01, -5.97116000e+01, -2.90972370e+01,
         1.64261000e-01, -4.53000000e-03,  2.71400000e-03,
         5.70000000e+01],
       [-3.39488600e+01, -5.97116000e+01, -2.90972370e+01,
         1.64913000e-01, -6.99600000e-03,  2.03700000e-03,
         5.70000000e+01],
       [-2.99866830e+01, -5.97116000e+01, -2.90972370e+01,
         1.66401000e-01, -9.90400000e-03, -2.31700000e-03,
         5.70000000e+01],
       [-2.60245070e+01, -5.97116000e+01, -2.90972370e+01,
         1.68280000e-01, -1.27770000e-02, -9.44700000e-03,
         5.70000000e+01],
       [-2.20623310e+01, -5.97116000e+01, -2.90972370e+01,
         1.69974000e-01, -1.51030000e-02, -1.70090000e-02,
         5.70000000e+01],
       [-1.81001550e+01, -5.97116000e+01, -2.90972370e+01,
         1.71092000e-01, -1.66400000e-02, -2.26260000e-02,
         5.70000000e+01],
       [-1.41379790e+01, -5.97116000e+01, -2.90972370e+01,
         1.71579000e-01, -1.73010000e-02, -2.44800000e-02,
         5.70000000e+01],
       [-1.01758030e+01, -5.97116000e+01, -2.90972370e+01,
         1.71556000e-01, -1.74760000e-02, -2.19590000e-02,
         5.70000000e+01],
       [-6.21362700e+00, -5.97116000e+01, -2.90972370e+01,
         1.71216000e-01, -1.78430000e-02, -1.55120000e-02,
         5.70000000e+01],
       [-2.25145100e+00, -5.97116000e+01, -2.90972370e+01,
         1.70856000e-01, -1.89460000e-02, -7.24400000e-03,
         5.70000000e+01],
       [ 1.71072500e+00, -5.97116000e+01, -2.90972370e+01,
         1.70987000e-01, -2.09340000e-02,  1.78383400e-04,
         5.70000000e+01],
       [ 5.67290100e+00, -5.97116000e+01, -2.90972370e+01,
         1.72165000e-01, -2.31690000e-02,  5.01000000e-03,
         5.70000000e+01],
       [ 9.63507700e+00, -5.97116000e+01, -2.90972370e+01,
         1.74550000e-01, -2.47400000e-02,  6.54000000e-03,
         5.70000000e+01],
       [ 1.35972530e+01, -5.97116000e+01, -2.90972370e+01,
         1.77763000e-01, -2.49810000e-02,  5.50600000e-03,
         5.70000000e+01],
       [ 1.75594300e+01, -5.97116000e+01, -2.90972370e+01,
         1.81072000e-01, -2.37480000e-02,  3.45000000e-03,
         5.70000000e+01],
       [ 2.15216060e+01, -5.97116000e+01, -2.90972370e+01,
         1.83911000e-01, -2.15300000e-02,  2.11900000e-03,
         5.70000000e+01],
       [ 2.54837820e+01, -5.97116000e+01, -2.90972370e+01,
         1.86235000e-01, -1.87000000e-02,  2.73700000e-03,
         5.70000000e+01],
       [ 2.94459580e+01, -5.97116000e+01, -2.90972370e+01,
         1.88272000e-01, -1.52520000e-02,  4.92000000e-03,
         5.70000000e+01],
       [ 3.34081340e+01, -5.97116000e+01, -2.90972370e+01,
         1.90092000e-01, -1.10250000e-02,  7.29800000e-03,
         5.70000000e+01],
       [ 3.73703100e+01, -5.97116000e+01, -2.90972370e+01,
         1.91346000e-01, -6.16100000e-03,  8.38000000e-03,
         5.70000000e+01],
       [ 4.13324860e+01, -5.97116000e+01, -2.90972370e+01,
         1.91538000e-01, -1.37000000e-03,  7.06200000e-03,
         5.70000000e+01],
       [ 4.52946620e+01, -5.97116000e+01, -2.90972370e+01,
         1.90459000e-01,  2.63500000e-03,  3.63700000e-03,
         5.70000000e+01],
       [ 4.92568380e+01, -5.97116000e+01, -2.90972370e+01,
         1.88321000e-01,  5.55300000e-03, -1.46742900e-04,
         5.70000000e+01],
       [ 5.32190140e+01, -5.97116000e+01, -2.90972370e+01,
         1.85554000e-01,  7.66300000e-03, -2.08900000e-03,
         5.70000000e+01],
       [ 5.71811900e+01, -5.97116000e+01, -2.90972370e+01,
         1.82553000e-01,  9.41600000e-03, -1.24900000e-03,
         5.70000000e+01],
       [ 6.11433660e+01, -5.97116000e+01, -2.90972370e+01,
         1.79650000e-01,  1.08810000e-02,  1.10100000e-03,
         5.70000000e+01],
       [ 6.51055430e+01, -5.97116000e+01, -2.90972370e+01,
         1.77095000e-01,  1.19370000e-02,  2.91200000e-03,
         5.70000000e+01],
       [ 6.90677190e+01, -5.97116000e+01, -2.90972370e+01,
         1.74979000e-01,  1.24400000e-02,  3.19000000e-03,
         5.70000000e+01],
       [ 7.30298950e+01, -5.97116000e+01, -2.90972370e+01,
         1.73223000e-01,  1.24440000e-02,  2.49600000e-03,
         5.70000000e+01],
       [ 7.69920710e+01, -5.97116000e+01, -2.90972370e+01,
         1.71641000e-01,  1.21570000e-02,  2.17000000e-03,
         5.70000000e+01],
       [ 8.09542470e+01, -5.97116000e+01, -2.90972370e+01,
         1.70095000e-01,  1.16690000e-02,  3.14200000e-03,
         5.70000000e+01],
       [ 8.49164230e+01, -5.97116000e+01, -2.90972370e+01,
         1.68534000e-01,  1.10000000e-02,  5.12500000e-03,
         5.70000000e+01],
       [ 8.88785990e+01, -5.97116000e+01, -2.90972370e+01,
         1.66950000e-01,  1.00780000e-02,  6.98200000e-03,
         5.70000000e+01],
       [ 9.28407750e+01, -5.97116000e+01, -2.90972370e+01,
         1.65341000e-01,  8.82600000e-03,  7.43300000e-03,
         5.70000000e+01],
       [ 9.68029510e+01, -5.97116000e+01, -2.90972370e+01,
         1.63648000e-01,  7.21600000e-03,  5.48600000e-03,
         5.70000000e+01],
       [ 1.00765127e+02, -5.97116000e+01, -2.90972370e+01,
         1.61843000e-01,  5.28400000e-03,  1.18900000e-03,
         5.70000000e+01],
       [ 1.04727303e+02, -5.97116000e+01, -2.90972370e+01,
         1.59923000e-01,  3.24100000e-03, -4.32600000e-03,
         5.70000000e+01],
       [ 1.08689479e+02, -5.97116000e+01, -2.90972370e+01,
         1.57843000e-01,  1.43300000e-03, -9.27700000e-03,
         5.70000000e+01],
       [ 1.12651656e+02, -5.97116000e+01, -2.90972370e+01,
         1.55583000e-01,  1.99370300e-04, -1.23810000e-02,
         5.70000000e+01],
       [ 1.16613832e+02, -5.97116000e+01, -2.90972370e+01,
         1.53174000e-01, -2.92090000e-04, -1.37670000e-02,
         5.70000000e+01],
       [ 1.20576008e+02, -5.97116000e+01, -2.90972370e+01,
         1.50724000e-01, -5.95625700e-05, -1.41360000e-02,
         5.70000000e+01],
       [ 1.24538184e+02, -5.97116000e+01, -2.90972370e+01,
         1.48345000e-01,  7.20965600e-04, -1.40110000e-02,
         5.70000000e+01],
       [-1.25078910e+02, -6.36737770e+01, -2.90972370e+01,
         1.74995000e-01, -1.36380000e-02, -1.07760000e-02,
         5.70000000e+01],
       [-1.21116733e+02, -6.36737770e+01, -2.90972370e+01,
         1.74698000e-01, -1.27380000e-02, -7.72400000e-03,
         5.70000000e+01],
       [-1.17154557e+02, -6.36737770e+01, -2.90972370e+01,
         1.74091000e-01, -1.16940000e-02, -4.08600000e-03,
         5.70000000e+01],
       [-1.13192381e+02, -6.36737770e+01, -2.90972370e+01,
         1.73322000e-01, -1.08010000e-02, -5.57235700e-04,
         5.70000000e+01],
       [-1.09230205e+02, -6.36737770e+01, -2.90972370e+01,
         1.72625000e-01, -1.02640000e-02,  1.85100000e-03,
         5.70000000e+01],
       [-1.05268029e+02, -6.36737770e+01, -2.90972370e+01,
         1.72293000e-01, -1.00300000e-02,  2.57400000e-03,
         5.70000000e+01],
       [-1.01305853e+02, -6.36737770e+01, -2.90972370e+01,
         1.72529000e-01, -9.86300000e-03,  1.84600000e-03,
         5.70000000e+01],
       [-9.73436770e+01, -6.36737770e+01, -2.90972370e+01,
         1.73240000e-01, -9.55800000e-03,  5.98430400e-04,
         5.70000000e+01],
       [-9.33815010e+01, -6.36737770e+01, -2.90972370e+01,
         1.73996000e-01, -9.12600000e-03, -5.61642000e-04,
         5.70000000e+01],
       [-8.94193250e+01, -6.36737770e+01, -2.90972370e+01,
         1.74302000e-01, -8.66600000e-03, -1.78200000e-03,
         5.70000000e+01],
       [-8.54571490e+01, -6.36737770e+01, -2.90972370e+01,
         1.73923000e-01, -8.09900000e-03, -3.41600000e-03,
         5.70000000e+01],
       [-8.14949730e+01, -6.36737770e+01, -2.90972370e+01,
         1.73007000e-01, -7.19200000e-03, -5.40600000e-03,
         5.70000000e+01],
       [-7.75327970e+01, -6.36737770e+01, -2.90972370e+01,
         1.71976000e-01, -5.84200000e-03, -7.05300000e-03,
         5.70000000e+01],
       [-7.35706200e+01, -6.36737770e+01, -2.90972370e+01,
         1.71230000e-01, -4.28500000e-03, -7.57000000e-03,
         5.70000000e+01],
       [-6.96084440e+01, -6.36737770e+01, -2.90972370e+01,
         1.70921000e-01, -2.91200000e-03, -6.56300000e-03,
         5.70000000e+01],
       [-6.56462680e+01, -6.36737770e+01, -2.90972370e+01,
         1.70937000e-01, -1.94500000e-03, -4.29700000e-03,
         5.70000000e+01],
       [-6.16840920e+01, -6.36737770e+01, -2.90972370e+01,
         1.71005000e-01, -1.41800000e-03, -1.60600000e-03,
         5.70000000e+01],
       [-5.77219160e+01, -6.36737770e+01, -2.90972370e+01,
         1.70815000e-01, -1.29900000e-03,  5.24756900e-04,
         5.70000000e+01],
       [-5.37597400e+01, -6.36737770e+01, -2.90972370e+01,
         1.70104000e-01, -1.46300000e-03,  1.62900000e-03,
         5.70000000e+01],
       [-4.97975640e+01, -6.36737770e+01, -2.90972370e+01,
         1.68819000e-01, -1.72400000e-03,  2.07900000e-03,
         5.70000000e+01],
       [-4.58353880e+01, -6.36737770e+01, -2.90972370e+01,
         1.67240000e-01, -1.91900000e-03,  2.82100000e-03,
         5.70000000e+01],
       [-4.18732120e+01, -6.36737770e+01, -2.90972370e+01,
         1.65844000e-01, -2.14100000e-03,  4.34400000e-03,
         5.70000000e+01],
       [-3.79110360e+01, -6.36737770e+01, -2.90972370e+01,
         1.65046000e-01, -2.77100000e-03,  5.65500000e-03,
         5.70000000e+01],
       [-3.39488600e+01, -6.36737770e+01, -2.90972370e+01,
         1.65045000e-01, -4.18900000e-03,  4.70600000e-03,
         5.70000000e+01],
       [-2.99866830e+01, -6.36737770e+01, -2.90972370e+01,
         1.65833000e-01, -6.54900000e-03,  8.16909700e-05,
         5.70000000e+01],
       [-2.60245070e+01, -6.36737770e+01, -2.90972370e+01,
         1.67184000e-01, -9.50800000e-03, -7.21300000e-03,
         5.70000000e+01],
       [-2.20623310e+01, -6.36737770e+01, -2.90972370e+01,
         1.68681000e-01, -1.24600000e-02, -1.46980000e-02,
         5.70000000e+01],
       [-1.81001550e+01, -6.36737770e+01, -2.90972370e+01,
         1.69982000e-01, -1.48750000e-02, -2.00730000e-02,
         5.70000000e+01],
       [-1.41379790e+01, -6.36737770e+01, -2.90972370e+01,
         1.71003000e-01, -1.63670000e-02, -2.18910000e-02,
         5.70000000e+01],
       [-1.01758030e+01, -6.36737770e+01, -2.90972370e+01,
         1.71757000e-01, -1.70560000e-02, -1.99030000e-02,
         5.70000000e+01],
       [-6.21362700e+00, -6.36737770e+01, -2.90972370e+01,
         1.72284000e-01, -1.74050000e-02, -1.45360000e-02,
         5.70000000e+01],
       [-2.25145100e+00, -6.36737770e+01, -2.90972370e+01,
         1.72725000e-01, -1.78640000e-02, -7.32800000e-03,
         5.70000000e+01],
       [ 1.71072500e+00, -6.36737770e+01, -2.90972370e+01,
         1.73442000e-01, -1.86390000e-02, -4.99764000e-04,
         5.70000000e+01],
       [ 5.67290100e+00, -6.36737770e+01, -2.90972370e+01,
         1.74858000e-01, -1.94090000e-02,  3.94700000e-03,
         5.70000000e+01],
       [ 9.63507700e+00, -6.36737770e+01, -2.90972370e+01,
         1.77041000e-01, -1.96980000e-02,  4.68300000e-03,
         5.70000000e+01],
       [ 1.35972530e+01, -6.36737770e+01, -2.90972370e+01,
         1.79656000e-01, -1.92150000e-02,  2.17000000e-03,
         5.70000000e+01],
       [ 1.75594300e+01, -6.36737770e+01, -2.90972370e+01,
         1.82117000e-01, -1.79230000e-02, -1.67700000e-03,
         5.70000000e+01],
       [ 2.15216060e+01, -6.36737770e+01, -2.90972370e+01,
         1.83989000e-01, -1.60940000e-02, -4.37900000e-03,
         5.70000000e+01],
       [ 2.54837820e+01, -6.36737770e+01, -2.90972370e+01,
         1.85290000e-01, -1.38970000e-02, -4.24800000e-03,
         5.70000000e+01],
       [ 2.94459580e+01, -6.36737770e+01, -2.90972370e+01,
         1.86326000e-01, -1.12790000e-02, -1.71500000e-03,
         5.70000000e+01],
       [ 3.34081340e+01, -6.36737770e+01, -2.90972370e+01,
         1.87321000e-01, -8.16700000e-03,  1.57200000e-03,
         5.70000000e+01],
       [ 3.73703100e+01, -6.36737770e+01, -2.90972370e+01,
         1.88104000e-01, -4.68200000e-03,  3.85000000e-03,
         5.70000000e+01],
       [ 4.13324860e+01, -6.36737770e+01, -2.90972370e+01,
         1.88283000e-01, -1.34400000e-03,  3.86500000e-03,
         5.70000000e+01],
       [ 4.52946620e+01, -6.36737770e+01, -2.90972370e+01,
         1.87616000e-01,  1.38200000e-03,  1.58700000e-03,
         5.70000000e+01],
       [ 4.92568380e+01, -6.36737770e+01, -2.90972370e+01,
         1.86132000e-01,  3.42100000e-03, -1.53100000e-03,
         5.70000000e+01],
       [ 5.32190140e+01, -6.36737770e+01, -2.90972370e+01,
         1.83987000e-01,  5.08600000e-03, -3.21400000e-03,
         5.70000000e+01],
       [ 5.71811900e+01, -6.36737770e+01, -2.90972370e+01,
         1.81374000e-01,  6.67700000e-03, -2.23900000e-03,
         5.70000000e+01],
       [ 6.11433660e+01, -6.36737770e+01, -2.90972370e+01,
         1.78601000e-01,  8.06600000e-03,  4.31463100e-04,
         5.70000000e+01],
       [ 6.51055430e+01, -6.36737770e+01, -2.90972370e+01,
         1.76030000e-01,  9.01400000e-03,  2.81400000e-03,
         5.70000000e+01],
       [ 6.90677190e+01, -6.36737770e+01, -2.90972370e+01,
         1.73915000e-01,  9.44800000e-03,  3.82600000e-03,
         5.70000000e+01],
       [ 7.30298950e+01, -6.36737770e+01, -2.90972370e+01,
         1.72293000e-01,  9.54100000e-03,  3.88100000e-03,
         5.70000000e+01],
       [ 7.69920710e+01, -6.36737770e+01, -2.90972370e+01,
         1.70998000e-01,  9.53000000e-03,  4.14500000e-03,
         5.70000000e+01]])

In [6]:
def concat_files1():
    speeds=[0.05232,0.06528]
    #     speeds=[0.05232,0.06528,0.06852,0.07824,0.09768,0.10092,0.11064,0.12036,0.13008,0.16248,0.17868]
    data = []
    for speed in speeds:
        new_df = get_files_list(speed)
        data.append(new_df)

    df = pd.concat(data, ignore_index=True)

    return df

In [7]:
# def concat_files():
#     speeds=[0.055555]
#     #     sppeds=[0.05232,0.06528,0.06852,0.07824,0.09768,0.10092,0.11064,0.12036,0.13008,0.16248,0.17868]
#     data = []
#     train_data = []
#     test_data = []
#
#     for speed in speeds:
#         train_sample = train_no(speed,0.8)
#         new_df = get_files_list(speed)
#         train_df = new_df[new_df['time']<=train_sample]
#         test_df = new_df[new_df['time']>train_sample]
#         train_data.append(train_df)
#         test_data.append(test_df)
#
#     df_train = pd.concat(train_data, ignore_index=True)
#     df_test = pd.concat(test_data, ignore_index=True)
#
#     return df_train.to_numpy(dtype='float64'), df_test.to_numpy(dtype='float64')

In [72]:
df

             x          y          z        vx        vy        vz  time
0    17.559430  82.926739 -33.059413  0.169153  0.004961  0.000826     1
1    21.521606  82.926739 -33.059413  0.168211  0.006639  0.003873     1
2    25.483782  82.926739 -33.059413  0.167201  0.008493  0.003999     1
3    29.445958  82.926739 -33.059413  0.166278  0.010426  0.001571     1
4    33.408134  82.926739 -33.059413  0.165591  0.012348 -0.002446     1
..         ...        ...        ...       ...       ...       ...   ...
295  61.143366 -63.673777 -29.097237  0.178601  0.008066  0.000431    10
296  65.105543 -63.673777 -29.097237  0.176030  0.009014  0.002814    10
297  69.067719 -63.673777 -29.097237  0.173915  0.009448  0.003826    10
298  73.029895 -63.673777 -29.097237  0.172293  0.009541  0.003881    10
299  76.992071 -63.673777 -29.097237  0.170998  0.009530  0.004145    10

[300 rows x 7 columns]

In [68]:
a=0
b=1
for d in [30,60,90,120,150,180,210,240,270,300]:
    df.loc[a:d,"time"]=b
    a=d+1
    b=b+1

In [99]:
path = "/mnt/d/sources/data/DL-PTV/merged/"
data = []
for speed in ["test1", "test2","test3"]:
    data.append(pd.read_pickle(path+speed+".pkl",compression="zip"))

df = pd.concat(data,ignore_index=True)
a=0
b=1
for d in [30,60,90,120,150,180,210,240,270,300,330,360,390,410,440,470,500,530,560,590,620,650,680,710,740,770,800]:
    df.loc[a:d,"time"]=b
    a=d+1
    b=b+1


df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/test.pkl", compression='zip')

In [100]:
df

             x          y          z        vx        vy        vz  time
0    17.559430  82.926739 -33.059413  0.049695  0.000709  0.005559     1
1    21.521606  82.926739 -33.059413  0.049391  0.000787  0.005296     1
2    25.483782  82.926739 -33.059413  0.049173  0.000950  0.004962     1
3    29.445958  82.926739 -33.059413  0.049061  0.001139  0.004679     1
4    33.408134  82.926739 -33.059413  0.049037  0.001287  0.004625     1
..         ...        ...        ...       ...       ...       ...   ...
795  29.445958 -75.560305 -25.135060  0.048628 -0.000126  0.002526    27
796  33.408134 -75.560305 -25.135060  0.047847 -0.000577  0.000994    27
797  37.370310 -75.560305 -25.135060  0.047356 -0.001204 -0.000762    27
798  41.332486 -75.560305 -25.135060  0.047215 -0.001870 -0.002081    27
799  45.294662 -75.560305 -25.135060  0.047326 -0.002472 -0.002694    27

[800 rows x 7 columns]

In [24]:
path = "/mnt/d/sources/data/DL-PTV/merged/"
data = []
# for speed in ["test1", "test2","test3"]:
#     data.append(pd.read_pickle(path+speed+".pkl",compression="zip"))

df = pd.read_pickle(path + "test.pkl", compression="zip")
a=0
b=1
for d in [30,60,90,120,150,180,210,240,270,300]:
    df.loc[a:d,"time"]=b
    a=d+1
    b=b+1
# df = df.values.reshape(-1, df.shape[1])
# print(len(df))
# X_train = df[df[:,6]%2!=0]
# X_test = df[df[:,6]%2==0][:10]


# df[::2]
# df[1::2]

In [20]:
X_test.shape

(10, 7)

In [18]:
X_train.shape

(420, 7)

In [25]:
df

             x          y          z        vx        vy        vz  time
0    17.559430  82.926739 -33.059413  0.049695  0.000709  0.005559     1
1    21.521606  82.926739 -33.059413  0.049391  0.000787  0.005296     1
2    25.483782  82.926739 -33.059413  0.049173  0.000950  0.004962     1
3    29.445958  82.926739 -33.059413  0.049061  0.001139  0.004679     1
4    33.408134  82.926739 -33.059413  0.049037  0.001287  0.004625     1
..         ...        ...        ...       ...       ...       ...   ...
795  29.445958 -75.560305 -25.135060  0.048628 -0.000126  0.002526    27
796  33.408134 -75.560305 -25.135060  0.047847 -0.000577  0.000994    27
797  37.370310 -75.560305 -25.135060  0.047356 -0.001204 -0.000762    27
798  41.332486 -75.560305 -25.135060  0.047215 -0.001870 -0.002081    27
799  45.294662 -75.560305 -25.135060  0.047326 -0.002472 -0.002694    27

[800 rows x 7 columns]

In [3]:
path = "/mnt/d/sources/data/DL-PTV/merged/"

In [32]:
df = pd.read_pickle(path + "3p6.pkl", compression="zip")

In [13]:
df.head()

            x          y          z        vx        vy        vz  time
0 -125.078910  86.888915 -33.059413  0.045851  0.002016 -0.000504   363
1 -121.116733  86.888915 -33.059413  0.046023  0.002110 -0.000301   363
2 -117.154557  86.888915 -33.059413  0.046189  0.002267 -0.000104   363
3 -113.192381  86.888915 -33.059413  0.046358  0.002493  0.000054   363
4 -109.230205  86.888915 -33.059413  0.046543  0.002784  0.000152   363

In [14]:
df["loc_point"] = df.index+1

In [15]:
df.head()

,x,y,z,vx,vy,vz,time,loc_point
0,-125.078910,86.888915,-33.059413,0.045851,0.002016,-0.000504,363,1
1,-121.116733,86.888915,-33.059413,0.046023,0.002110,-0.000301,363,2
2,-117.154557,86.888915,-33.059413,0.046189,0.002267,-0.000104,363,3
3,-113.192381,86.888915,-33.059413,0.046358,0.002493,0.000054,363,4
4,-109.230205,86.888915,-33.059413,0.046543,0.002784,0.000152,363,5

In [16]:
df.drop(columns=["x","y","z"],inplace=True)

In [17]:
df.head()

         vx        vy        vz  time  loc_point
0  0.045851  0.002016 -0.000504   363          1
1  0.046023  0.002110 -0.000301   363          2
2  0.046189  0.002267 -0.000104   363          3
3  0.046358  0.002493  0.000054   363          4
4  0.046543  0.002784  0.000152   363          5

In [18]:
df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/3p6_loc.pkl", compression='zip')

In [4]:
df = pd.read_pickle(path + "3p6_loc.pkl", compression="zip")

In [5]:
df.head()

         vx        vy        vz  time  loc_point
0  0.049976  0.002444  0.009331     1          1
1  0.049832  0.002287  0.009501     1          2
2  0.049630  0.002129  0.009603     1          3
3  0.049365  0.001991  0.009568     1          4
4  0.049041  0.001901  0.009327     1          5

In [6]:
df["vx"] = df["vx"]*1000
df["vy"] = df["vy"]*100000
df["vz"] = df["vz"]*10000

In [7]:
df.head()

       vx     vy     vz  time  loc_point
0  499.76  24.44  93.31     1          1
1  498.32  22.87  95.01     1          2
2  496.30  21.29  96.03     1          3
3  493.65  19.91  95.68     1          4
4  490.41  19.01  93.27     1          5

In [11]:
df["vx"] = df["vx"]/10

In [15]:
df["vy"] = df["vy"] * 10

In [16]:
df["vx"].mean(), df["vy"].mean(), df["vz"].mean()

(22.73520072794724, 10.106047613974207, 10.492377637733618)

In [ ]:
df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/3p6_loc.pkl", compression='zip')

In [27]:
df.to_pickle(f"/mnt/d/sources/data/DL-PTV/merged/3p6_loc_scaled.pkl", compression='zip')

In [18]:
import geopy.distance

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.distance(coords_1, coords_2))

279.35290160430094 km

In [13]:
p1 = np.array([1,2,3])
p2 = np.array([4,5,6])
dist = np.linalg.norm(p2 - p1)

In [14]:
dist

5.196152422706632

In [26]:
squared_dist = np.sum((p1-p2)**2, axis=0)
dist = np.sqrt(squared_dist)
dist

5.196152422706632

In [ ]:
median = median(x), median(y), median(z)

In [33]:
df.head()

            x          y          z        vx        vy        vz  time
0 -125.078910  86.888915 -33.059413  0.045851  0.002016 -0.000504   363
1 -121.116733  86.888915 -33.059413  0.046023  0.002110 -0.000301   363
2 -117.154557  86.888915 -33.059413  0.046189  0.002267 -0.000104   363
3 -113.192381  86.888915 -33.059413  0.046358  0.002493  0.000054   363
4 -109.230205  86.888915 -33.059413  0.046543  0.002784  0.000152   363

In [4]:
centroid = np.median(df["x"]), np.median(df["y"]), np.median(df["z"])

NameError: name 'df' is not defined

In [3]:
centroid

NameError: name 'centroid' is not defined

In [2]:
centroid= np.asarray(centroid)
centroid

NameError: name 'centroid' is not defined

In [39]:
df[:3].apply(lambda row: calculate_distance(row,centroid), axis=1)

TypeError: unsupported operand type(s) for -: 'list' and 'tuple'

In [2]:
df_with_distance = pd.read_pickle(path + "3p6.pkl", compression="zip")

NameError: name 'path' is not defined

In [9]:
df_with_distance.head()

            x          y          z        vx        vy        vz  time
0 -125.078910  86.888915 -33.059413  0.045851  0.002016 -0.000504   363
1 -121.116733  86.888915 -33.059413  0.046023  0.002110 -0.000301   363
2 -117.154557  86.888915 -33.059413  0.046189  0.002267 -0.000104   363
3 -113.192381  86.888915 -33.059413  0.046358  0.002493  0.000054   363
4 -109.230205  86.888915 -33.059413  0.046543  0.002784  0.000152   363

In [10]:
median = np.median(df_with_distance["x"]), np.median(df_with_distance["y"]), np.median(df_with_distance["z"])

In [11]:
median

(-0.2703629999999999, 1.702129, 0.6190840000000001)

In [12]:
new = df_with_distance[["x","y","z"]][:1].to_numpy()

In [16]:
new[0], p1

(array([-125.07891 ,   86.888915,  -33.059413]), array([1, 2, 3]))

In [17]:
dist = np.linalg.norm(new[0] - p1)
dist

156.21235771401024

In [37]:
centroid = np.median(df_with_distance["x"]), np.median(df_with_distance["y"]), np.median(df_with_distance["z"])

In [34]:
def calculate_distance(row, arr2):
    return np.linalg.norm([row["x"],row["y"], row["z"]]- arr2)

In [35]:
def create_array(row):
    return [row["x"],row["y"], row["z"]]

In [29]:
df_with_distance[:3].apply(lambda row: calculate_distance(row,centroid), axis=1)

NameError: name 'calculate_distance' is not defined

In [ ]:
df_with_distance["loc_arr"]= df_with_distance.apply(lambda row: calculate_distance(row,centroid), axis=1)

In [28]:
df_with_distance["loc_arr"]= df_with_distance.apply(lambda row: create_array(row), axis=1)

KeyboardInterrupt:

In [40]:
df_with_distance.head()

           x          y          z
0 -125.07891  86.888915 -33.059413

In [2]:
df_with_distance[["x","y","z"]][:1].to_numpy()

NameError: name 'df_with_distance' is not defined